# fix shit
*.o
*.lo
*.so
*.a
*.so.*
kbe/src/lib/dependencies/fmt/src/Hybrid64/
kbe/src/lib/dependencies/apr/confdefs.h
kbe/src/lib/dependencies/apr/config.log
kbe/src/lib/dependencies/apr/config.nice
kbe/src/lib/dependencies/apr/conftest.c
kbe/src/lib/dependencies/apr/conftest.err
kbe/src/lib/dependencies/curl/aclocal.m4.bak
kbe/src/lib/dependencies/curl/autom4te.cache/
kbe/src/lib/dependencies/curl/config.log
kbe/src/lib/dependencies/curl/config.status
kbe/src/lib/dependencies/curl/curl-config
kbe/src/lib/dependencies/curl/docs/Makefile
kbe/src/lib/dependencies/curl/docs/cmdline-opts/Makefile
kbe/src/lib/dependencies/curl/docs/examples/.deps/
kbe/src/lib/dependencies/curl/docs/examples/Makefile
kbe/src/lib/dependencies/curl/docs/libcurl/Makefile
kbe/src/lib/dependencies/curl/docs/libcurl/opts/Makefile
kbe/src/lib/dependencies/curl/include/Makefile
kbe/src/lib/dependencies/curl/include/curl/Makefile
kbe/src/lib/dependencies/curl/lib/.deps/
kbe/src/lib/dependencies/curl/lib/.libs/
kbe/src/lib/dependencies/curl/lib/Makefile
kbe/src/lib/dependencies/curl/lib/curl_config.h
kbe/src/lib/dependencies/curl/lib/libcurl.la
kbe/src/lib/dependencies/curl/lib/libcurl.vers
kbe/src/lib/dependencies/curl/lib/stamp-h1
kbe/src/lib/dependencies/curl/lib/vauth/.deps/
kbe/src/lib/dependencies/curl/lib/vauth/.dirstamp
kbe/src/lib/dependencies/curl/lib/vtls/.deps/
kbe/src/lib/dependencies/curl/lib/vtls/.dirstamp
kbe/src/lib/dependencies/curl/libcurl.pc
kbe/src/lib/dependencies/curl/libtool
kbe/src/lib/dependencies/curl/packages/AIX/Makefile
kbe/src/lib/dependencies/curl/packages/AIX/RPM/Makefile
kbe/src/lib/dependencies/curl/packages/AIX/RPM/curl.spec
kbe/src/lib/dependencies/curl/packages/EPM/Makefile
kbe/src/lib/dependencies/curl/packages/EPM/curl.list
kbe/src/lib/dependencies/curl/packages/Linux/Makefile
kbe/src/lib/dependencies/curl/packages/Linux/RPM/Makefile
kbe/src/lib/dependencies/curl/packages/Linux/RPM/curl-ssl.spec
kbe/src/lib/dependencies/curl/packages/Linux/RPM/curl.spec
kbe/src/lib/dependencies/curl/packages/Makefile
kbe/src/lib/dependencies/curl/packages/Solaris/Makefile
kbe/src/lib/dependencies/curl/packages/Win32/Makefile
kbe/src/lib/dependencies/curl/packages/Win32/cygwin/Makefile
kbe/src/lib/dependencies/curl/packages/vms/Makefile
kbe/src/lib/dependencies/curl/scripts/Makefile
kbe/src/lib/dependencies/curl/src/.deps/
kbe/src/lib/dependencies/curl/src/Makefile
kbe/src/lib/dependencies/curl/tests/Makefile
kbe/src/lib/dependencies/curl/confdefs.h
kbe/src/lib/dependencies/curl/tests/certs/Makefile
kbe/src/lib/dependencies/curl/tests/certs/scripts/Makefile
kbe/src/lib/dependencies/curl/tests/configurehelp.pm
kbe/src/lib/dependencies/curl/tests/data/Makefile
kbe/src/lib/dependencies/curl/tests/libtest/.deps/
kbe/src/lib/dependencies/curl/tests/libtest/Makefile
kbe/src/lib/dependencies/curl/tests/server/.deps/
kbe/src/lib/dependencies/curl/tests/server/Makefile
kbe/src/lib/dependencies/curl/tests/unit/.deps/
kbe/src/lib/dependencies/curl/confCxuvQN/
kbe/src/lib/dependencies/curl/tests/unit/Makefile
kbe/src/lib/dependencies/g3dlite/Hybrid64/
kbe/src/lib/dependencies/jemalloc/autogen
kbe/src/lib/dependencies/jemalloc/confdefs.h
kbe/src/lib/dependencies/jemalloc/conftest.c
kbe/src/lib/dependencies/jemalloc/conftest.err
kbe/src/lib/dependencies/jemalloc/conftest.out
kbe/src/lib/dependencies/jwsmtp/jwsmtp/jwsmtp/Hybrid64/
kbe/src/lib/dependencies/sigar/linux/Hybrid64/
kbe/src/lib/dependencies/tinyxml/Hybrid64/
kbe/src/lib/dependencies/tmxparser/Hybrid64/
kbe/src/lib/dependencies/zlib/configure.log
kbe/src/lib/dependencies/zlib/example
kbe/src/lib/dependencies/zlib/example64
kbe/src/lib/dependencies/zlib/examplesh
kbe/src/lib/dependencies/zlib/libz.a
kbe/src/lib/dependencies/zlib/minigzip
kbe/src/lib/dependencies/zlib/minigzip64
kbe/src/lib/dependencies/zlib/minigzipsh
kbe/src/lib/dependencies/zlib/zlib.pc
kbe/src/lib/client_lib/Hybrid64/
kbe/src/lib/common/Hybrid64/
kbe/src/lib/db_interface/Hybrid64/
kbe/src/lib/db_mysql/Hybrid64/
kbe/src/lib/db_redis/Hybrid64/
kbe/src/lib/dependencies/apr-util/.libs/
kbe/src/lib/dependencies/apr-util/.make.dirs
kbe/src/lib/dependencies/apr-util/apr-util.pc
kbe/src/lib/dependencies/apr-util/aprutil.exp
kbe/src/lib/dependencies/apr-util/apu-1-config
kbe/src/lib/dependencies/apr-util/apu-config.out
kbe/src/lib/dependencies/apr-util/build/pkg/pkginfo
kbe/src/lib/dependencies/apr-util/build/rules.mk
kbe/src/lib/dependencies/apr-util/config.log
kbe/src/lib/dependencies/apr-util/config.nice
kbe/src/lib/dependencies/apr-util/config.status
kbe/src/lib/dependencies/apr-util/dbd/.libs/
kbe/src/lib/dependencies/apr-util/dbd/apr_dbd_sqlite3.la
kbe/src/lib/dependencies/apr-util/export_vars.c
kbe/src/lib/dependencies/apr-util/export_vars.sh
kbe/src/lib/dependencies/apr-util/exports.c
kbe/src/lib/dependencies/apr-util/include/apr_ldap.h
kbe/src/lib/dependencies/apr-util/include/apu.h
kbe/src/lib/dependencies/apr-util/include/apu_want.h
kbe/src/lib/dependencies/apr-util/include/private/apu_config.h
kbe/src/lib/dependencies/apr-util/include/private/apu_select_dbm.h
kbe/src/lib/dependencies/apr-util/libaprutil-1.la
kbe/src/lib/dependencies/apr-util/test/Makefile
kbe/src/lib/dependencies/apr/.libs/
kbe/src/lib/dependencies/apr/.make.dirs
kbe/src/lib/dependencies/apr/apr-1-config
kbe/src/lib/dependencies/apr/apr-config.out
kbe/src/lib/dependencies/apr/apr.exp
kbe/src/lib/dependencies/apr/apr.pc
kbe/src/lib/dependencies/apr/build/apr_rules.mk
kbe/src/lib/dependencies/apr/build/apr_rules.out
kbe/src/lib/dependencies/apr/build/pkg/pkginfo
kbe/src/lib/dependencies/apr/config.status
kbe/src/lib/dependencies/apr/export_vars.c
kbe/src/lib/dependencies/apr/exports.c
kbe/src/lib/dependencies/apr/include/apr.h
kbe/src/lib/dependencies/apr/include/arch/unix/apr_private.h
kbe/src/lib/dependencies/apr/include/private/
kbe/src/lib/dependencies/apr/libapr-1.la
kbe/src/lib/dependencies/apr/libtool
kbe/src/lib/dependencies/apr/test/Makefile
kbe/src/lib/dependencies/apr/test/internal/Makefile
kbe/src/lib/dependencies/apr/tools/gen_test_char
kbe/src/lib/dependencies/expat/.libs/
kbe/src/lib/dependencies/expat/config.log
kbe/src/lib/dependencies/expat/config.status
kbe/src/lib/dependencies/expat/examples/.libs/
kbe/src/lib/dependencies/expat/examples/elements
kbe/src/lib/dependencies/expat/examples/outline
kbe/src/lib/dependencies/expat/expat.pc
kbe/src/lib/dependencies/expat/expat_config.h
kbe/src/lib/dependencies/expat/libexpat.la
kbe/src/lib/dependencies/expat/libtool
kbe/src/lib/dependencies/expat/xmlwf/.libs/
kbe/src/lib/dependencies/expat/xmlwf/xmlwf
kbe/src/lib/dependencies/log4cxx/config.log
kbe/src/lib/dependencies/log4cxx/config.status
kbe/src/lib/dependencies/log4cxx/liblog4cxx.pc
kbe/src/lib/dependencies/log4cxx/libtool
kbe/src/lib/dependencies/log4cxx/src/Makefile
kbe/src/lib/dependencies/log4cxx/src/examples/Makefile
kbe/src/lib/dependencies/log4cxx/src/examples/cpp/.deps/
kbe/src/lib/dependencies/log4cxx/src/examples/cpp/.libs/
kbe/src/lib/dependencies/log4cxx/src/examples/cpp/Makefile
kbe/src/lib/dependencies/log4cxx/src/examples/cpp/console
kbe/src/lib/dependencies/log4cxx/src/examples/cpp/delayedloop
kbe/src/lib/dependencies/log4cxx/src/examples/cpp/stream
kbe/src/lib/dependencies/log4cxx/src/examples/cpp/trivial
kbe/src/lib/dependencies/log4cxx/src/main/Makefile
kbe/src/lib/dependencies/log4cxx/src/main/cpp/.deps/
kbe/src/lib/dependencies/log4cxx/src/main/cpp/.libs/
kbe/src/lib/dependencies/log4cxx/src/main/cpp/Makefile
kbe/src/lib/dependencies/log4cxx/src/main/cpp/liblog4cxx.la
kbe/src/lib/dependencies/log4cxx/src/main/include/Makefile
kbe/src/lib/dependencies/log4cxx/src/main/include/log4cxx/Makefile
kbe/src/lib/dependencies/log4cxx/src/main/include/log4cxx/config/Makefile
kbe/src/lib/dependencies/log4cxx/src/main/include/log4cxx/db/Makefile
kbe/src/lib/dependencies/log4cxx/src/main/include/log4cxx/filter/Makefile
kbe/src/lib/dependencies/log4cxx/src/main/include/log4cxx/helpers/Makefile
kbe/src/lib/dependencies/log4cxx/src/main/include/log4cxx/net/Makefile
kbe/src/lib/dependencies/log4cxx/src/main/include/log4cxx/nt/Makefile
kbe/src/lib/dependencies/log4cxx/src/main/include/log4cxx/pattern/Makefile
kbe/src/lib/dependencies/log4cxx/src/main/include/log4cxx/private/Makefile
kbe/src/lib/dependencies/log4cxx/src/main/include/log4cxx/rolling/Makefile
kbe/src/lib/dependencies/log4cxx/src/main/include/log4cxx/spi/Makefile
kbe/src/lib/dependencies/log4cxx/src/main/include/log4cxx/spi/location/Makefile
kbe/src/lib/dependencies/log4cxx/src/main/include/log4cxx/varia/Makefile
kbe/src/lib/dependencies/log4cxx/src/main/include/log4cxx/xml/Makefile
kbe/src/lib/dependencies/log4cxx/src/site/Makefile
kbe/src/lib/dependencies/log4cxx/src/site/doxy/Doxyfile
kbe/src/lib/dependencies/log4cxx/src/site/doxy/Makefile
kbe/src/lib/dependencies/log4cxx/src/test/Makefile
kbe/src/lib/dependencies/log4cxx/src/test/cpp/.deps/
kbe/src/lib/dependencies/log4cxx/src/test/cpp/.libs/
kbe/src/lib/dependencies/log4cxx/src/test/cpp/Makefile
kbe/src/lib/dependencies/log4cxx/src/test/cpp/testsuite
kbe/src/lib/dependencies/log4cxx/src/test/resources/Makefile
kbe/src/lib/dependencies/log4cxx/src/test/resources/input/Makefile
kbe/src/lib/dependencies/log4cxx/src/test/resources/input/ndc/Makefile
kbe/src/lib/dependencies/log4cxx/src/test/resources/input/rolling/Makefile
kbe/src/lib/dependencies/log4cxx/src/test/resources/input/xml/Makefile
kbe/src/lib/dependencies/log4cxx/src/test/resources/witness/Makefile
kbe/src/lib/dependencies/log4cxx/src/test/resources/witness/encoding/Makefile
kbe/src/lib/dependencies/log4cxx/src/test/resources/witness/ndc/Makefile
kbe/src/lib/dependencies/log4cxx/src/test/resources/witness/rolling/Makefile
kbe/src/lib/entitydef/Hybrid64/
kbe/src/lib/helper/Hybrid64/
kbe/src/lib/math/Hybrid64/
kbe/src/lib/navigation/Hybrid64/
kbe/src/lib/network/Hybrid64/
kbe/src/lib/pyscript/Hybrid64/
kbe/src/lib/python/Lib/__pycache__/
kbe/src/lib/python/Lib/asyncio/__pycache__/
kbe/src/lib/python/Lib/collections/__pycache__/
kbe/src/lib/python/Lib/concurrent/__pycache__/
kbe/src/lib/python/Lib/concurrent/futures/__pycache__/
kbe/src/lib/python/Lib/distutils/__pycache__/
kbe/src/lib/python/Lib/distutils/command/__pycache__/
kbe/src/lib/python/Lib/email/__pycache__/
kbe/src/lib/python/Lib/encodings/__pycache__/
kbe/src/lib/python/Lib/importlib/__pycache__/
kbe/src/lib/python/Lib/logging/__pycache__/
kbe/src/lib/python/Lib/xml/__pycache__/
kbe/src/lib/python/Lib/xml/etree/__pycache__/
kbe/src/lib/python/Makefile.pre
kbe/src/lib/python/Misc/python-config.sh
kbe/src/lib/python/Misc/python.pc
kbe/src/lib/python/Modules/Setup
kbe/src/lib/python/Modules/Setup.local
kbe/src/lib/python/Modules/config.c
kbe/src/lib/python/Modules/ld_so_aix
kbe/src/lib/python/Programs/_testembed
kbe/src/lib/python/build/
kbe/src/lib/python/config.log
kbe/src/lib/python/config.status
kbe/src/lib/python/pybuilddir.txt
kbe/src/lib/python/pyconfig.h
kbe/src/lib/python/python
kbe/src/lib/python/python-config
kbe/src/lib/python/python-config.py
kbe/src/lib/python/python-gdb.py
kbe/src/lib/resmgr/Hybrid64/
kbe/src/lib/server/Hybrid64/
kbe/src/lib/thread/Hybrid64/
kbe/src/server/baseapp/Hybrid64/
kbe/src/server/baseappmgr/Hybrid64/
kbe/src/server/cellapp/Hybrid64/
kbe/src/server/cellappmgr/Hybrid64/
kbe/src/server/dbmgr/Hybrid64/
kbe/src/server/loginapp/Hybrid64/
kbe/src/server/machine/Hybrid64/
kbe/src/server/tools/bots/Hybrid64/
kbe/src/server/tools/interfaces/Hybrid64/
kbe/src/server/tools/kbcmd/Hybrid64/
kbe/src/server/tools/logger/Hybrid64/

# normal
.cache/
kbe/bin/
