# shit
*.o
*.lo
*.so
*.a
*.so.*
kbe/src/lib/dependencies/fmt/src/Hybrid64/
kbe/src/lib/dependencies/apr/confdefs.h
kbe/src/lib/dependencies/apr/config.log
kbe/src/lib/dependencies/apr/config.nice
kbe/src/lib/dependencies/apr/conftest.c
kbe/src/lib/dependencies/apr/conftest.err
kbe/src/lib/dependencies/curl/aclocal.m4.bak
kbe/src/lib/dependencies/curl/autom4te.cache/
kbe/src/lib/dependencies/curl/config.log
kbe/src/lib/dependencies/curl/config.status
kbe/src/lib/dependencies/curl/curl-config
kbe/src/lib/dependencies/curl/docs/Makefile
kbe/src/lib/dependencies/curl/docs/cmdline-opts/Makefile
kbe/src/lib/dependencies/curl/docs/examples/.deps/
kbe/src/lib/dependencies/curl/docs/examples/Makefile
kbe/src/lib/dependencies/curl/docs/libcurl/Makefile
kbe/src/lib/dependencies/curl/docs/libcurl/opts/Makefile
kbe/src/lib/dependencies/curl/include/Makefile
kbe/src/lib/dependencies/curl/include/curl/Makefile
kbe/src/lib/dependencies/curl/lib/.deps/
kbe/src/lib/dependencies/curl/lib/.libs/
kbe/src/lib/dependencies/curl/lib/Makefile
kbe/src/lib/dependencies/curl/lib/curl_config.h
kbe/src/lib/dependencies/curl/lib/libcurl.la
kbe/src/lib/dependencies/curl/lib/libcurl.vers
kbe/src/lib/dependencies/curl/lib/stamp-h1
kbe/src/lib/dependencies/curl/lib/vauth/.deps/
kbe/src/lib/dependencies/curl/lib/vauth/.dirstamp
kbe/src/lib/dependencies/curl/lib/vtls/.deps/
kbe/src/lib/dependencies/curl/lib/vtls/.dirstamp
kbe/src/lib/dependencies/curl/libcurl.pc
kbe/src/lib/dependencies/curl/libtool
kbe/src/lib/dependencies/curl/packages/AIX/Makefile
kbe/src/lib/dependencies/curl/packages/AIX/RPM/Makefile
kbe/src/lib/dependencies/curl/packages/AIX/RPM/curl.spec
kbe/src/lib/dependencies/curl/packages/EPM/Makefile
kbe/src/lib/dependencies/curl/packages/EPM/curl.list
kbe/src/lib/dependencies/curl/packages/Linux/Makefile
kbe/src/lib/dependencies/curl/packages/Linux/RPM/Makefile
kbe/src/lib/dependencies/curl/packages/Linux/RPM/curl-ssl.spec
kbe/src/lib/dependencies/curl/packages/Linux/RPM/curl.spec
kbe/src/lib/dependencies/curl/packages/Makefile
kbe/src/lib/dependencies/curl/packages/Solaris/Makefile
kbe/src/lib/dependencies/curl/packages/Win32/Makefile
kbe/src/lib/dependencies/curl/packages/Win32/cygwin/Makefile
kbe/src/lib/dependencies/curl/packages/vms/Makefile
kbe/src/lib/dependencies/curl/scripts/Makefile
kbe/src/lib/dependencies/curl/src/.deps/
kbe/src/lib/dependencies/curl/src/Makefile
kbe/src/lib/dependencies/curl/tests/Makefile
kbe/src/lib/dependencies/curl/tests/certs/Makefile
kbe/src/lib/dependencies/curl/tests/certs/scripts/Makefile
kbe/src/lib/dependencies/curl/tests/configurehelp.pm
kbe/src/lib/dependencies/curl/tests/data/Makefile
kbe/src/lib/dependencies/curl/tests/libtest/.deps/
kbe/src/lib/dependencies/curl/tests/libtest/Makefile
kbe/src/lib/dependencies/curl/tests/server/.deps/
kbe/src/lib/dependencies/curl/tests/server/Makefile
kbe/src/lib/dependencies/curl/tests/unit/.deps/
kbe/src/lib/dependencies/curl/tests/unit/Makefile
kbe/src/lib/dependencies/g3dlite/Hybrid64/
kbe/src/lib/dependencies/jemalloc/autogen
kbe/src/lib/dependencies/jwsmtp/jwsmtp/jwsmtp/Hybrid64/
kbe/src/lib/dependencies/sigar/linux/Hybrid64/
kbe/src/lib/dependencies/tinyxml/Hybrid64/
kbe/src/lib/dependencies/tmxparser/Hybrid64/
kbe/src/lib/dependencies/zlib/configure.log
kbe/src/lib/dependencies/zlib/example
kbe/src/lib/dependencies/zlib/example64
kbe/src/lib/dependencies/zlib/examplesh
kbe/src/lib/dependencies/zlib/libz.a
kbe/src/lib/dependencies/zlib/minigzip
kbe/src/lib/dependencies/zlib/minigzip64
kbe/src/lib/dependencies/zlib/minigzipsh
kbe/src/lib/dependencies/zlib/zlib.pc

.cache/
kbe/bin/
